[submodule "third-party/tinyobjloader"]
	path = app/Components/third_party/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git

[submodule "third-party/googletest"]
	path = app/Components/third_party/googletest
	url = https://github.com/google/googletest.git