**/*.iml
**/local.properties
**/build
**/.externalNativeBuild
**/.idea
**/.vscode
**/.fuse*
**/.gradle
**/raytracer
**/gtest
**/*.d
**/*.o
**/*.s
**/*.out
**/*.gto
**/*.llvmIR
**/*.dwo
**/*.data*
**/*.py
**/*.callgrind
**/*.so
**/node_modules/**
**/Plot_Graphs/**
**/Plot_Scripts/*.dat
