**/*.iml
**/local.properties
**/build
**/build_native
**/.externalNativeBuild
**/.idea
**/.vscode
**/.fuse*
**/.gradle
**/.settings
**/raytracer
**/gtest
**/*.d
**/*.o
**/*.s
**/*.out
**/*.gto
**/*.llvmIR
**/*.dwo
**/*.data*
**/*.py
**/*.callgrind
**/*.so
**/*.dat
**/node_modules/**
**/WavefrontOBJs/**
**/*.aux
**/*.lof
**/*.log
**/*.lot
**/*.toc
**/*.synctex.gz