<!DOCTYPE html>
<html>
  <head>
    <link href="/Assets/Cascading Style Sheets/Styles.css" rel="stylesheet" type="text/css" />
  </head>

  <%include Partials/Navigation.ejs%>
  
  <body>
    <h1>
      Contact
    </h1>

    <p>
      Thanks for the submit!
    </p>

    <p><%= data.who %></p>
    <p><%= data.department %></p>
    <p><%= data.email %></p>
    

  </body>
</html>