<!DOCTYPE html>
<html>
  <head>
    <link href="/Assets/Cascading Style Sheets/Home_Styles.css" rel="stylesheet" type="text/css" />
  </head>
  
  <%include Partials/Navigation.ejs%>

  <body id="View_HomePage">
    <h1>
      My First Heading2
    </h1>

    <p>
      My first paragraph.
    </p>

    <p>
      This a large main division, with <span>a small bit</span> of spanned text!
    </p>

    <div id="Chat"/>

    <!--script type="text/javascript" src="Assets/JavaScripts/bundle.js"></script-->

  </body>
</html>